In [1]:
# Basic Libraries
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [2]:
data = pd.read_csv('non_zero_data.csv')
data.head()

,adult,genre_ids,id,original_language,popularity,release_date,title,vote_average,vote_count,revenue,production_companies,budget,release_year,release_month,num_genres,release_season,budget_revenue_ratio
0,False,"[18, 80]",278,en,136.776,1994-09-23,The Shawshank Redemption,8.704,25822,28341469.0,['Castle Rock Entertainment'],25000000.0,1994,9,2,Fall,0.882100
1,False,"[18, 80]",238,en,107.889,1972-03-14,The Godfather,8.695,19602,245066411.0,"['Paramount', 'Alfran Productions']",6000000.0,1972,3,2,Spring,0.024483
2,False,"[18, 80]",240,en,71.355,1974-12-20,The Godfather Part II,8.576,11849,102600000.0,"['Paramount', 'The Coppola Company']",13000000.0,1974,12,2,Winter,0.126706
3,False,"[18, 36, 10752]",424,en,79.614,1993-12-15,Schindler's List,8.566,15229,321365567.0,['Amblin Entertainment'],22000000.0,1993,12,3,Winter,0.068458
4,False,"[16, 10751, 14]",129,ja,120.883,2001-07-20,Spirited Away,8.541,15705,274925095.0,['Studio Ghibli'],19000000.0,2001,7,3,Summer,0.069110

In [3]:
data['profit_margin'] = (data['revenue'] - data['budget']) / data['revenue']

# Print the DataFrame with the new 'profit_margin' column
data.head()

,adult,genre_ids,id,original_language,popularity,release_date,title,vote_average,vote_count,revenue,production_companies,budget,release_year,release_month,num_genres,release_season,budget_revenue_ratio,profit_margin
0,False,"[18, 80]",278,en,136.776,1994-09-23,The Shawshank Redemption,8.704,25822,28341469.0,['Castle Rock Entertainment'],25000000.0,1994,9,2,Fall,0.882100,0.117900
1,False,"[18, 80]",238,en,107.889,1972-03-14,The Godfather,8.695,19602,245066411.0,"['Paramount', 'Alfran Productions']",6000000.0,1972,3,2,Spring,0.024483,0.975517
2,False,"[18, 80]",240,en,71.355,1974-12-20,The Godfather Part II,8.576,11849,102600000.0,"['Paramount', 'The Coppola Company']",13000000.0,1974,12,2,Winter,0.126706,0.873294
3,False,"[18, 36, 10752]",424,en,79.614,1993-12-15,Schindler's List,8.566,15229,321365567.0,['Amblin Entertainment'],22000000.0,1993,12,3,Winter,0.068458,0.931542
4,False,"[16, 10751, 14]",129,ja,120.883,2001-07-20,Spirited Away,8.541,15705,274925095.0,['Studio Ghibli'],19000000.0,2001,7,3,Summer,0.069110,0.930890

In [4]:
#compare the budget revenue ratio with profit margin to gain insights about financial state
#compare each movies financial state if they have properly budgeted 
financial_performance = pd.DataFrame(data[['budget_revenue_ratio','profit_margin']])

financial_performance.head()

   budget_revenue_ratio  profit_margin
0              0.882100       0.117900
1              0.024483       0.975517
2              0.126706       0.873294
3              0.068458       0.931542
4              0.069110       0.930890

In [ ]:
try:
    f, axes = plt.subplots(6, 3, figsize=(18, 24))

    count = 0
    for var in financial_performance:
        sb.boxplot(data=financial_performance[var], orient="h", ax=axes[count, 0])
        sb.histplot(data=financial_performance[var], ax=axes[count, 1])
        sb.violinplot(data=financial_performance[var], orient="h", ax=axes[count, 2])
        count += 1

    plt.show()

except Exception as e:
    print("An error occurred:", e)

In [ ]:
try:
    f, axes = plt.subplots(6, 3, figsize=(18, 24))

    count = 0
    for var in financial_performance:
        sb.boxplot(data=financial_performance[var], orient="h", ax=axes[count, 0])
        sb.histplot(data=financial_performance[var], ax=axes[count, 1])
        sb.violinplot(data=financial_performance[var], orient="h", ax=axes[count, 2])
        count += 1

    plt.show()

except Exception as e:
    print("An error occurred:", e)